<header class="top-header">
  <!-- right -->
  <div class="header-right">
    <div class="icon">
      <i class="fa fa-expand"></i>
    </div>

    <div class="icon notification">
      <i class="fa fa-bell"></i>
      <span class="badge">3</span>
    </div>
    <div class="language">
      <img src="assets/images/egypt.png" alt="flag" />
    </div>

    <div class="user">
      <img src="assets/images/admin.jpg" alt="user" />
      <!-- <span>حسام مصطفي</span> -->
    </div>
  </div>

  <!-- center -->
  <div class="header-center"></div>

  <!-- left -->
  <div class="header-left">
    <button class="menu-toggle" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </button>
  </div>
</header>
