<div class="row">
  <div class="col-12">
    <div class="first-content">
      <div class="right-side">
        <h5>أهلاً بعودتك</h5>
        <h4>حسام مصطفي</h4>
        <h5>
          يسرّنا أن نرحّب بكم في مستشفى قِمّة كير التخصصي , ونشكركم على اختياركم
          أطباءنا لرعاية صحتكم . كما نتطلع إلى تقديم رعاية صحية شاملة ومخصصة لكم
          وتوفير كل سبل الراحه والطمأنينه لكل المرضي من خلال اختيار فريق طبي
          متميز وتوفير كل الاجهزة التي تؤكد هذا الاختيار.
        </h5>
      </div>
      <div class="left-side">
        <img src="assets/images/patientwelcome.png" alt="flag" />
      </div>
    </div>
  </div>
</div>
