<section class="doctor-dashboard">
  <!-- -------------------------------------- -->
  <!-- ----------PART 1--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p1">
    <!-- right Side -->
    <div class="col-9 content">
      <div class="top-content">
        <div class="right-side">
          <div class="person-data">
            <h5>أهلاً بعودتك</h5>
            <h4>الدكتور / حسام مصطفي</h4>
            <h5>
              طبيب بشري ، حاصل على بكالوريوس الطب والجراحة، ودكتوراه في الطب
            </h5>
          </div>
          <div class="cards">
            <div class="card">
              <h5>المواعيد</h5>
              <span>+578 </span>
            </div>
            <div class="card">
              <h5>العمليات الجراحية</h5>
              <span>+578 </span>
            </div>
            <div class="card">
              <h5>زيارة الغرفة</h5>
              <span>+578 </span>
            </div>
          </div>
        </div>
        <div class="left-side">
          <img src="assets/images/doctors.svg" alt="flag" />
        </div>
      </div>
      <div class="bottom-content">
        <div class="card">
          <div class="header">
            <div class="right">
              <h5>المواعيد</h5>
              <span>ملخص اليوم</span>
            </div>
            <div class="icon">🕒</div>
          </div>
          <div class="content"><app-donut-chart></app-donut-chart></div>
          <!-- <div class="footer">
            <ul>
              <li>مُجدول: <span>٢٨</span></li>
              <li>مُنجز: <span>٢٤</span></li>
              <li>مُلغى: <span>٤</span></li>
            </ul>
          </div> -->
        </div>
        <div class="card">
          <div class="header">
            <div class="right">
              <h5>إيرادات اليوم</h5>
              <span>4,250 دولارًا أمريكيًا </span>
            </div>
            <div class="icon">🕒</div>
          </div>
          <div class="content"><app-area-chart></app-area-chart></div>
          <div class="footer">
            <ul>
              <li class="scheduled">
                الحضور المباشر: <span>1850 دولارًا أمريكيًا</span>
              </li>
              <li class="completed">
                المتابعات: <span>1200 دولارًا أمريكيًا</span>
              </li>
              <li class="canceled">
                عبر الإنترنت: <span>1200 دولارًا أمريكيًا</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <div class="right">
              <h5>الأداء</h5>
              <span>المؤشرات اليومية </span>
            </div>
            <div class="icon">🕒</div>
          </div>
          <div class="content"><app-bar-chart></app-bar-chart></div>
          <div class="footer">
            <ul>
              <li class="">متوسط ​​مدة الاستشارة: <span>18 دقيقة</span></li>
              <li class="">عدد المرضى في اليوم: <span>24 مريض</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- left side  -->
    <div class="col-3 about">
      <div class="top-section">
        <img src="assets/images/doctor.jpg" alt="flag" />
        <h5 class="name">د/ حسام مصطفي</h5>
        <span class="brif">
          استشاري ومدير قسم جراحة العظام والمفاصل الصناعيه و اصابات الملاعب
          بمستشفى قِمّة كير التخصصي
        </span>
      </div>
      <div class="center-section">
        <div class="details-points">
          <h5>المرضي:3,897</h5>
          <span>الحد الاقصي: 8,000 </span>
        </div>
        <div class="progress-circle"><span>60%</span></div>
      </div>
      <div class="bottom-section">
        <div class="card">
          <h5>الجراحات</h5>
          <span>578 </span>
        </div>
        <div class="card">
          <h5>المرضي</h5>
          <span>578 </span>
        </div>
        <div class="card">
          <h5>الاستشارات</h5>
          <span>578 </span>
        </div>
        <div class="card">
          <h5>المواعيد</h5>
          <span>1,243 </span>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 2--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p2">
    <div class="col-8">
      <div class="patient-survay-card">
        <div class="patient-survay-header">
          <h5>مسح المرضى</h5>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="patient-survay-content">
          <app-area-chart></app-area-chart>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- <app-full-calendar></app-full-calendar> -->
    </div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 3--------------------- -->
  <!-- -------------------------------------- -->

  <div class="row dashboard_p3">
    <div class="col-8">
      <div class="row">
        <!-- ===== Task Hours Card ===== -->
        <div class="col-6">
          <div class="p3-card task-card">
            <div class="header p3-card-header">
              <h5>ساعات العمل</h5>
              <span class="all">الكل</span>
            </div>

            <div class="content p3-card-body">
              <div class="task-hours">
                <!-- progress -->
                <div class="task-progress">
                  <div class="task-progress-header">
                    <p><span>3456</span> ساعه</p>
                    <p><span>10000</span> المتوقع</p>
                  </div>

                  <div class="task-progress-bars">
                    <div class="bar red" style="width: 33%"></div>
                    <div class="bar blue" style="width: 25%"></div>
                    <div class="bar black" style="width: 12%"></div>
                    <div class="bar purple" style="width: 10%"></div>
                    <div class="bar green" style="width: 7%"></div>
                    <div class="bar cyan" style="width: 13%"></div>
                  </div>
                </div>

                <!-- list -->
                <div class="task-list">
                  <div class="task-list-header">
                    <span>اسم المهمه</span>
                    <span>النسبه</span>
                  </div>

                  <ul class="task-list-items">
                    <li class="task-item">
                      <p><span class="dot red"></span> تشخيص المريض</p>
                      <span>33%</span>
                    </li>

                    <li class="task-item">
                      <p><span class="dot blue"></span> الإجراء الجراحي</p>
                      <span>25%</span>
                    </li>

                    <li class="task-item">
                      <p>
                        <span class="dot black"></span> إدارة الوصفات الطبية
                      </p>
                      <span>12%</span>
                    </li>

                    <li class="task-item">
                      <p><span class="dot purple"></span> متابعة المريض</p>
                      <span>10%</span>
                    </li>

                    <li class="task-item">
                      <p><span class="dot green"></span> البحث الطبي</p>
                      <span>7%</span>
                    </li>

                    <li class="task-item">
                      <p><span class="dot cyan"></span> جدولة الاستشارات</p>
                      <span>13%</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ===== Appointments Card ===== -->
        <div class="col-6">
          <div class="p3-card appointments-card">
            <div class="header p3-card-header">
              <h5>المواعيد</h5>
              <span class="all">الكل</span>
            </div>

            <div class="content p3-card-body">
              <div class="appointments-list">
                <div class="appointment-item" *ngFor="let app of appointments">
                  <img [src]="app.image" />

                  <div class="appointment-info">
                    <h6>{{ app.name }}</h6>
                    <span>{{ app.case }}</span>
                  </div>

                  <div class="appointment-time">
                    <strong>{{ app.date }}</strong>
                    <span>{{ app.time }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="p3-card emergency-card">
        <!-- header -->
        <div class="p3-card-header emergency-header">
          <h5>
            <i class="fa fa-exclamation-triangle"></i>
            الحالات الطارئة
          </h5>

          <span class="badge">5</span>
        </div>

        <!-- body -->
        <div class="p3-card-body">
          <div class="emergency-list">
            <div class="emergency-item" *ngFor="let case of emergencyCases">
              <div class="info">
                <h6>{{ case.name }}</h6>
                <span class="tag" [ngClass]="case.type">
                  {{ case.label }}
                </span>
              </div>

              <span class="time">{{ case.time }}</span>
            </div>
          </div>

          <div class="view-all">عرض كل الحالات الطارئة</div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 4--------------------- -->
  <!-- -------------------------------------- -->
  <div class="dashboard_p4">
    <div class="row">
      <div class="col-8">
        <div class="card p4-card">
          <div class="header p4-card-header">
            <h5>جدول المواعيد</h5>
            <span class="all">الكل</span>
          </div>
          <div class="content p4-card-body">
            <table class="appointments-table">
              <thead>
                <tr>
                  <th>المريض</th>
                  <th>النوع</th>
                  <th>التاريخ</th>
                  <th>الوصف</th>
                  <th>التقرير</th>
                  <th>الاحداث</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let app of appointments2">
                  <td>
                    <img [src]="app.image" alt="profile" class="profile-img" />
                    {{ app.name }}
                  </td>
                  <td>{{ app.gender }}</td>
                  <td>{{ app.date }}</td>
                  <td>
                    <span class="diagnosis {{ app.diagnosis | lowercase }}">{{
                      app.diagnosis
                    }}</span>
                  </td>
                  <td>
                    <a href="{{ app.report }}" target="_blank"> PDF </a>
                  </td>
                  <td class="action-icons">
                    <i class="fa fa-pencil edit" title="Edit"></i>
                    <i class="fa fa-trash delete" title="Delete"></i>
                    <i class="fa fa-eye view" title="View Details"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="p4-card radial-card">
          <!-- header -->
          <div class="p4-card-header">
            <h5>مراجعات التعيين</h5>
            <span class="all">الكل</span>
          </div>

          <!-- content -->
          <div class="p4-card-body">
            <app-radial-chart></app-radial-chart>
          </div>

          <!-- footer -->
          <div class="radial-footer">
            <ul>
              <li><span class="dot orange"></span> وجها لوجه</li>
              <li><span class="dot blue"></span> الاستشارة الإلكترونية</li>
              <li><span class="dot green"></span> الاماكن المتاحة</li>
            </ul>
            <button>تعديل التوفر</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 5--------------------- -->
  <!-- -------------------------------------- -->

  <div class="row dashboard_p5">
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <div class="p5-card">
            <div class="p5-card-header">
              <h5>قائمة المهام</h5>
              <span class="all">الكل</span>
            </div>
            <div class="p5-card-content">
              <ul class="task-list-items">
                <li *ngFor="let todo of todos" class="task-item">
                  <p>{{ todo.title }}</p>
                  <span
                    [ngClass]="{
                      red: todo.priority === 'High',
                      green: todo.priority === 'Low',
                      gray: todo.priority === 'Normal',
                    }"
                  >
                    {{ todo.priority }}
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p5-card">
            <div class="p5-card-header">
              <h5>حالة الاطباء</h5>
              <span class="all">الكل</span>
            </div>
            <div class="p5-card-content">
              <table class="doctor-status-table">
                <thead>
                  <tr>
                    <th>اسم الطبيب</th>
                    <th>الحالة</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doctor of doctors">
                    <td>
                      <img
                        [src]="doctor.image"
                        alt="doctor"
                        class="profile-img"
                      />
                      <span>{{ doctor.name }}</span>
                      <small>{{ doctor.qualification }}</small>
                    </td>
                    <td>
                      <span
                        [ngClass]="{
                          available: doctor.status === 'Available',
                          absent: doctor.status === 'Absent',
                        }"
                      >
                        {{ doctor.status }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p5-card barchart-card">
        <!-- header -->
        <div class="p5-card-header">
          <h5>اعداد المرضى</h5>
          <span class="all">الكل</span>
        </div>

        <!-- content -->
        <div class="p5-card-body bar-chart">
          <app-distributed-column></app-distributed-column>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 6--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p6">
    <div class="col-8">
      <div class="card p6-card">
        <div class="header p6-card-header">
          <h5>العمليات الجراحية والإجراءات القادمة</h5>
          <span class="all">الكل</span>
        </div>
        <div class="content p6-card-body">
          <table class="appointments-table">
            <thead>
              <tr>
                <th>المريض</th>
                <th>النوع</th>
                <th>التاريخ</th>
                <th>الوصف</th>
                <th>التقرير</th>
                <th>الاحداث</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of appointments2">
                <td>
                  <img [src]="app.image" alt="profile" class="profile-img" />
                  {{ app.name }}
                </td>
                <td>{{ app.gender }}</td>
                <td>{{ app.date }}</td>
                <td>
                  <span class="diagnosis {{ app.diagnosis | lowercase }}">{{
                    app.diagnosis
                  }}</span>
                </td>
                <td>
                  <a href="{{ app.report }}" target="_blank"> PDF </a>
                </td>
                <td class="action-icons">
                  <i class="fa fa-pencil edit" title="Edit"></i>
                  <i class="fa fa-trash delete" title="Delete"></i>
                  <i class="fa fa-eye view" title="View Details"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</section>
