<section class="doctor-dashboard">
  <!-- -------------------------------------- -->
  <!-- ----------PART 1--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p1">
    <!-- right Side -->
    <div class="col-9 content">
      <div class="top-content">
        <div class="right-side">
          <div class="person-data">
            <h5>أهلاً بعودتك</h5>
            <h4>الدكتور / حسام مصطفي</h4>
            <h5>
              طبيب بشري ، حاصل على بكالوريوس الطب والجراحة، ودكتوراه في الطب
            </h5>
          </div>
          <div class="cards">
            <div class="card">
              <h5>المواعيد</h5>
              <span>+578 </span>
            </div>
            <div class="card">
              <h5>العمليات الجراحية</h5>
              <span>+578 </span>
            </div>
            <div class="card">
              <h5>زيارة الغرفة</h5>
              <span>+578 </span>
            </div>
          </div>
        </div>
        <div class="left-side">
          <img src="assets/images/doctors.svg" alt="flag" />
        </div>
      </div>
      <div class="bottom-content">
        <div class="card">
          <div class="header">
            <div class="right">
              <h5>المواعيد</h5>
              <span>ملخص اليوم</span>
            </div>
            <div class="icon">🕒</div>
          </div>
          <div class="content"><app-donut-chart></app-donut-chart></div>
          <!-- <div class="footer">
            <ul>
              <li>مُجدول: <span>٢٨</span></li>
              <li>مُنجز: <span>٢٤</span></li>
              <li>مُلغى: <span>٤</span></li>
            </ul>
          </div> -->
        </div>
        <div class="card">
          <div class="header">
            <div class="right">
              <h5>إيرادات اليوم</h5>
              <span>4,250 دولارًا أمريكيًا </span>
            </div>
            <div class="icon">🕒</div>
          </div>
          <div class="content"><app-area-chart></app-area-chart></div>
          <div class="footer">
            <ul>
              <li class="scheduled">
                الحضور المباشر: <span>1850 دولارًا أمريكيًا</span>
              </li>
              <li class="completed">
                المتابعات: <span>1200 دولارًا أمريكيًا</span>
              </li>
              <li class="canceled">
                عبر الإنترنت: <span>1200 دولارًا أمريكيًا</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <div class="right">
              <h5>الأداء</h5>
              <span>المؤشرات اليومية </span>
            </div>
            <div class="icon">🕒</div>
          </div>
          <div class="content"><app-bar-chart></app-bar-chart></div>
          <div class="footer">
            <ul>
              <li class="">متوسط ​​مدة الاستشارة: <span>18 دقيقة</span></li>
              <li class="">عدد المرضى في اليوم: <span>24 مريض</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- left side  -->
    <div class="col-3 about">
      <div class="top-section">
        <img src="assets/images/doctor.jpg" alt="flag" />
        <h5 class="name">د/ حسام مصطفي</h5>
        <span class="brif"> قسم جراحة العظام - مستشفى ريستار</span>
      </div>
      <div class="center-section">
        <div class="details-points">
          <h5>3,897 Patients</h5>
          <span>8,000 Patients Limit</span>
        </div>
        <div class="details-chart">60%</div>
      </div>
      <div class="bottom-section">
        <div class="card">
          <h5>Surgery</h5>
          <span>578 </span>
        </div>
        <div class="card">
          <h5>Patients</h5>
          <span>578 </span>
        </div>
        <div class="card">
          <h5>Consultation</h5>
          <span>578 </span>
        </div>
        <div class="card">
          <h5>Appointment</h5>
          <span>1,243 </span>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 2--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p2">
    <div class="col-9">
      <div class="card">
        <div class="header">
          <h5>مسح المرضى</h5>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="content"><app-area-chart></app-area-chart></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 3--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p2">
    <div class="col-9">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="header">
              <h5>ساعات العمل</h5>
              <span class="all">الكل</span>
            </div>
            <div class="content">
              <div class="task-hours">
                <div class="progress-container">
                  <div class="progress_header">
                    <p><span>3456</span> ساعه</p>
                    <p><span>10000</span> المتوقع</p>
                  </div>

                  <div class="progress_contet">
                    <div class="bar red" style="width: 33%"></div>
                    <div class="bar blue" style="width: 25%"></div>
                    <div class="bar black" style="width: 12%"></div>
                    <div class="bar purple" style="width: 10%"></div>
                    <div class="bar green" style="width: 7%"></div>
                    <div class="bar cyan" style="width: 13%"></div>
                  </div>
                </div>

                <div class="list-container">
                  <div class="list-header">
                    <span>اسم المهمه</span>
                    <span>النسبه</span>
                  </div>
                  <ul class="list">
                    <li>
                      <p><span class="dot red"></span> تشخيص المريض</p>
                      <span>33%</span>
                    </li>
                    <li>
                      <p><span class="dot blue"></span> الإجراء الجراحي</p>
                      <span>25%</span>
                    </li>
                    <li>
                      <p>
                        <span class="dot black"></span> إدارة الوصفات الطبية
                      </p>
                      <span>12%</span>
                    </li>
                    <li>
                      <p><span class="dot purple"></span> متابعة المريض</p>
                      <span>10%</span>
                    </li>
                    <li>
                      <p><span class="dot green"></span> البحث الطبي</p>
                      <span>7%</span>
                    </li>
                    <li>
                      <p><span class="dot cyan"></span> جدولة الاستشارات</p>
                      <span>13%</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="header">
              <h5>المواعيد</h5>
              <span class="all">الكل</span>
            </div>
            <div class="content">
              <div class="card-container">
                <div class="item" *ngFor="let app of appointments">
                  <img [src]="app.image" alt="flag" />

                  <div class="info">
                    <h6>{{ app.name }}</h6>
                    <span>{{ app.case }}</span>
                  </div>
                  <div class="time">
                    <strong>{{ app.date }}</strong>
                    <span>{{ app.time }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 4--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p2">
    <div class="col-9">
      <div class="card">
        <div class="header">
          <h5>جدول المواعيد</h5>
          <span class="all">الكل</span>
        </div>
        <div class="content"><app-area-chart></app-area-chart></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 5--------------------- -->
  <!-- -------------------------------------- -->

  <div class="row dashboard_p2">
    <div class="col-9">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="header">
              <h5>قائمة المهام</h5>
              <span class="all">الكل</span>
            </div>
            <div class="content"><app-area-chart></app-area-chart></div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="header">
              <h5>حالة الاطباء</h5>
              <span class="all">الكل</span>
            </div>
            <div class="content"><app-area-chart></app-area-chart></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <!-- -------------------------------------- -->
  <!-- ----------PART 4--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p2">
    <div class="col-9">
      <div class="card">
        <div class="header">
          <h5>العمليات الجراحية والإجراءات القادمة</h5>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="content"><app-area-chart></app-area-chart></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</section>
