.card {
  min-width: 300px;
  max-width: 360px;
  padding: 15px;
  border-radius: 15px;
  background: #e9e3f7;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 45px;
  height: 45px;
  background: #7b3ff2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info {
  text-align: right;
}

.title {
  display: block;
  font-size: 14px;
  color: #555;
}

.value {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
