.patient-dashboard {
  background: #f5f7fb;
  padding: 20px;
  /* ================= BASE SYSTEM ================= */
  %base-card {
    background: #fff;
    border-radius: 12px;
    border: none;
    box-shadow:
      0 2px 6px rgba(0, 0, 0, 0.08),
      0 8px 20px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
  }

  %card-header {
    border-bottom: 1px solid #77777733;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h5 {
      font-size: 16px;
    }
  }

  %card-body-scroll {
    padding: 10px;
    overflow-y: hidden;
  }
  %all-active {
    font-size: 14px;
    color: #2a7de1;
    font-weight: bold;
    cursor: pointer;
  }

  /*=====================================================*/
  /* ================= Global Styles ================= */
  /*=====================================================*/
  .all {
    @extend %all-active;
  }
  /*=====================================================*/
  /*=================== PART : 2 =========================*/
  /*=====================================================*/
  .Rates_section {
    margin-top: 20px;
    .custom-row {
      display: flex;
      gap: 20px;
      padding: 0px 10px;

      .card {
        flex: 1;
      }
      .Rates-card-header {
        @extend %card-header;
      }
    }
  }

  /*=====================================================*/
  /*=================== PART : 3 =========================*/
  /*=====================================================*/
  .Appointment_section {
    margin-top: 20px;
    .custom-row {
      display: flex;
      gap: 20px;
      padding: 0px 10px;
      .Appointment-card-header {
        @extend %card-header;
      }
      .large {
        flex: 3;
      }

      .small {
        flex: 1;
      }
    }
  }
}
