<section class="patient-dashboard">
  <!-- -------------------------------------- -->
  <!-- ----------PART 1--------------------- -->
  <!-- -------------------------------------- -->
  <div class="row dashboard_p1">
    <div class="col-12">
      <div class="first-content">
        <div class="right-side">
          <h5>أهلاً بعودتك</h5>
          <h4>حسام مصطفي</h4>
          <h5>
            يسرّنا أن نرحّب بكم في مستشفى قِمّة كير التخصصي , ونشكركم على
            اختياركم أطباءنا لرعاية صحتكم . كما نتطلع إلى تقديم رعاية صحية شاملة
            ومخصصة لكم وتوفير كل سبل الراحه والطمأنينه لكل المرضي من خلال اختيار
            فريق طبي متميز وتوفير كل الاجهزة التي تؤكد هذا الاختيار.
          </h5>
        </div>
        <div class="left-side">
          <img src="assets/images/patientwelcome.png" alt="flag" />
        </div>
      </div>
    </div>
    
  </div>
  <div class="row secound-content">
    <div class="col-3">
      <div class="pb-card">
        <div class="content">
          <div class="details">
            <h5>Blood Pressure</h5>
            <span>110/70</span>
          </div>
          <div class="image-logo">
            <img src="assets/images/blood-pressure.png" alt="" />
          </div>
        </div>
        <div class="trend">10% Higher Then Last Month</div>
      </div>
    </div>
    <div class="col-3">
      <div class="pb-card">
        <div class="secound-content">
          <div class="details">
            <h5>Blood Pressure</h5>
            <span>110/70</span>
          </div>
          <div class="image-logo">
            <img src="assets/images/blood-pressure.png" alt="" />
          </div>
        </div>
        <div class="trend">10% Higher Then Last Month</div>
      </div>
    </div>
    <div class="col-3">
      <div class="pb-card">
        <div class="secound-content">
          <div class="details">
            <h5>Blood Pressure</h5>
            <span>110/70</span>
          </div>
          <div class="image-logo">
            <img src="assets/images/blood-pressure.png" alt="" />
          </div>
        </div>
        <div class="trend">10% Higher Then Last Month</div>
      </div>
    </div>
    <div class="col-3">
      <div class="pb-card">
        <div class="secound-content">
          <div class="details">
            <h5>Blood Pressure</h5>
            <span>110/70</span>
          </div>
          <div class="image-logo">
            <img src="assets/images/blood-pressure.png" alt="" />
          </div>
        </div>
        <div class="trend">10% Higher Then Last Month</div>
      </div>
    </div>
  </div>
</section>
