<section class="patient-dashboard">
  <!-- -------------------------------------- -->
  <!-- ----------PART 1--------------------- -->
  <!-- -------------------------------------- -->
  <section class="Advetisement_section">
    <app-patient-header></app-patient-header>
    <app-patient-status></app-patient-status>
  </section>

  <!-- -------------------------------------- -->
  <!-- ----------PART 2--------------------- -->
  <!-- -------------------------------------- -->

  <section class="Rates_section">
    <div class="row custom-row">
      <div class="col-4 card">
        <div class="Rates-card-header">
          <h5>قائمة المهام</h5>
          <span class="all">الكل</span>
        </div>
        <div class="card-content">
          <app-line-chart></app-line-chart>
        </div>
      </div>
      <div class="col-4 card">
        <div class="Rates-card-header">
          <h5>قائمة المهام</h5>
          <span class="all">الكل</span>
        </div>
        <div class="card-content">
          <app-line-chart></app-line-chart>
        </div>
      </div>
      <div class="col-4 card">
        <div class="Rates-card-header">
          <h5>قائمة المهام</h5>
          <span class="all">الكل</span>
        </div>
        <div class="card-content">
          <app-line-chart></app-line-chart>
        </div>
      </div>
    </div>
  </section>

  <!-- -------------------------------------- -->
  <!-- ----------PART 3--------------------- -->
  <!-- -------------------------------------- -->

  <section class="Appointment_section">
    <div class="row custom-row">
      <div class="col-9 card large">
        <div class="Appointment-card-header">
          <h5>قائمة المهام</h5>
          <span class="all">الكل</span>
        </div>
        <div class="card-content">
          <app-line-chart></app-line-chart>
        </div>
      </div>
      <div class="col-3 card small">
        <div class="Appointment-card-header">
          <h5>قائمة المهام</h5>
          <span class="all">الكل</span>
        </div>
        <div class="card-content">
          <app-line-chart></app-line-chart>
        </div>
      </div>
    </div>
  </section>
</section>
