<section class="patient-dashboard">
  <!-- -------------------------------------- -->
  <!-- ----------PART 1--------------------- -->
  <!-- -------------------------------------- -->
  <section class="Advetisement_section">
    <div class="row">
      <div class="col-12">
        <div class="first-content">
          <div class="right-side">
            <h5>أهلاً بعودتك</h5>
            <h4>حسام مصطفي</h4>
            <h5>
              يسرّنا أن نرحّب بكم في مستشفى قِمّة كير التخصصي , ونشكركم على
              اختياركم أطباءنا لرعاية صحتكم . كما نتطلع إلى تقديم رعاية صحية
              شاملة ومخصصة لكم وتوفير كل سبل الراحه والطمأنينه لكل المرضي من
              خلال اختيار فريق طبي متميز وتوفير كل الاجهزة التي تؤكد هذا
              الاختيار.
            </h5>
          </div>
          <div class="left-side">
            <img src="assets/images/patientwelcome.png" alt="flag" />
          </div>
        </div>
      </div>
    </div>
    <div class="row secound-content">
      <div class="col-3" *ngFor="let card of cards">
        <div class="pb-card">
          <div class="content">
            <div class="details">
              <h5>{{ card.title }}</h5>
              <span>{{ card.value }}</span>
            </div>
            <div class="image-logo">
              <img [src]="card.img" alt="" />
            </div>
          </div>
          <div class="trend">{{ card.trend }}</div>
        </div>
      </div>
    </div>
  </section>

  <!-- -------------------------------------- -->
  <!-- ----------PART 2--------------------- -->
  <!-- -------------------------------------- -->

  <section class="Rates_section">
    
  </section>
</section>
